@import url("./font");
@import url("./reset.css");
@import url("./header.css");
@import url("./NewPopular.css");
@import url("./pizza-combo-snacks.css");
@import url("./footer.css");

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  padding-top: 25px;
  background-color: white;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  box-sizing: content-box;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.halfPizza:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
